<html>
  <body>
    <h1>Fake 綠界 ATM 付款頁</h1>
    <p>您的訂單編號：{{ context.MerchantTradeNo }}</p>
    <p>付款金額：{{ context.TradeAmt }} 元</p>
    <p>請使用以下虛擬帳號付款：</p>
    <h2 style="color:blue;">國泰世華 代碼：{{ context.BankCode }} 元</h2>
    <h2 style="color:blue;">{{ context.ATMAccount }}</h2>
    <p>繳費期限：{{ context.ExpireDate }}</p>

    <!-- 模擬付款完成，送出 notify -->
    <form method="post" action="{{ context.ReturnURL }}">
      <input type="hidden" name="MerchantID" value="{{ context.MerchantID }}">
      <input type="hidden" name="MerchantTradeNo" value="{{ context.MerchantTradeNo }}">
      <input type="hidden" name="MerchantTradeDate" value="{{ context.MerchantTradeDate }}">
      <input type="hidden" name="TradeAmt" value="{{ context.TradeAmt }}">
      <input type="hidden" name="TradeDesc" value="{{ context.TradeDesc }}">
      <input type="hidden" name="ItemName" value="{{ context.ItemName }}">
      <input type="hidden" name="PaymentType" value="{{ context.payment_type }}">
      <input type="hidden" name="TradeNo" value="{{ context.TradeNo }}">
      <input type="hidden" name="Status" value="Paid">
      <!-- 綠界官方定義 -->
      <input type="hidden" name="ReturnURL" value="{{ context.ReturnURL }}">
      <input type="hidden" name="OrderResultURL" value="{{ context.OrderResultURL }}">
      
      <input type="hidden" name="RtnCode" value="1">
      <input type="hidden" name="RtnMsg" value="交易成功">
      <button type="submit">模擬付款完成</button>
    </form>

    <!-- 模擬瀏覽器 redirect -->
    <p>
      <a href="{{ OrderResultURL }}">付款成功後跳轉到前端頁面</a>
    </p>
  </body>
</html>